.container{
     font-family:sans-serif;
     word-wrap: normal;
}

// img{
//      height: 400px;
//      width: 500px;
// }

button{
     transition: 0.3s;
     background: lightblue;
}
button:hover
{
     background: blue;
     color: white;
}
matLine{
     word-wrap: break-word;
}

mat-list-item
{
     border-bottom: 1px solid #ddd;
}

.full-width {
    width: 95%
}

.form-size{
     width: 90%;
}
