.container{
     font-family:sans-serif;
}

img{
     height: 400px;
     width: 500px;
}

button{
     transition: 0.3s;
     background: lightblue;
}
button:hover
{
     background: blue;
     color: white;
}

mat-list-item
{
     border-bottom: 1px solid #ffa292;
}

mat-list-item:hover{
     background: #f2f2ff;

}
